<section>
    <!-- Background -->
    <img src="https://assets.nflxext.com/ffe/siteui/vlv3/03fdc4bf-72f6-4926-83a7-a76e6a1a5591/bc045282-df3c-4501-a3b9-2ddb5c970474/ES-en-20211115-popsignuptwoweeks-perspective_alpha_website_small.jpg" alt="">

    <!-- Netflix Logo -->
    <a routerLink="/login">
        <app-netflix-logo></app-netflix-logo>
    </a>

    <!-- Login Card -->
    <div>
        <h1>Sign in</h1>
        <form action="#" method="POST" (ngSubmit)="login()">
            <label for="email-input">Email or phone number</label>
            <input type="email" id="email-input" name="email" required placeholder="Email or phone number">

            <label for="password-input">Password</label>
            <input type="password" id="password-input" name="password" required placeholder="Password">

            <button type="submit">Sign In</button>

            <div>
                <label>
                    <input type="checkbox"> Remember me
                </label>
                <a href="#">Need help?</a>
            </div>
        </form>

        <p>
            New to Netflix?
            <a href="#">Sign up now.</a>
        </p>
        <p>
            This page is protected by Google reCAPTCHA to ensure you're not a bot.
            <a href="#">Learn more</a>
        </p>
    </div>
</section>
